html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


.char-button {
  margin: 5px;
  padding: 10px;
  background-color: #ccc;
  border: 1px solid #999;
  cursor: pointer;
}


.hidden {
  display: none;
}

.game-button {
  margin: 5px;
  padding: 10px;
  background-color: #ccc;
  border: 1px solid #999;
  cursor: pointer;
}